@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url("https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css");


body {
font-family: 'Oswald', sans-serif !important;
overflow-x: hidden;
/* background-color:#333333 */
}

.bg-alpha-primary {
background-color: #0092ca;
}

.bg-alpha-secondary {
background-color: #cca000;
}

.bg-alpha-dark {
background-color: #333333;
}
.alpha-primary {
  color: #0092ca;
}
.alpha-secondary {
  color: #cca000;
}
.alpha-primary-button {
  background-color: #0092ca;
  color: #fff; 
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.alpha-primary-button:hover {
  background-color: #00789a; 
}
.carousel-caption {
opacity: 0;
transition: opacity 0.5s;
}

.carousel-item.active .carousel-caption {
opacity: 1;
transition: opacity 0.5s;
}

hr {
    color: #0092ca;
    padding: 0;
    margin: 0;
    z-index: 9999;
}

.first-section {
  padding: 30px 0 30px 0;
}


.card-text-container {
  position: absolute;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3); /* Adjust the background color and opacity as needed */
  color: white; /* Set the text color to white or your desired color */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
.social-custom {
  list-style-type: none;
  position: fixed;
  /* bottom: 13%; */
  right: 4%;
  left: auto;
  z-index: 10;
  bottom: 0;
}
.social-custom li img {
  height: 30px;
  margin: 10px;
}
.social-custom li a img {
  filter: brightness(0) invert(1);
}
.social-custom::after {
  content: "";
  display: block;
  width: 1px;
  height: 150px;
  margin: 0px auto;
  background-color: #ffffff;
  bottom: 0;
}
.social-custom li img:hover {
  animation: shake 0.3s;
  cursor: pointer;
  filter: drop-shadow(0 0 0.1rem white);
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  25% {
    transform: translate(-1px, -1px) rotate(-1deg);
  }
  50% {
    transform: translate(2px, 1px) rotate(1deg);
  }
  75% {
    transform: translate(1px, -1px) rotate(-1deg);
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg);
  }
}

@media only screen and (max-width: 900px) {
  .social-custom {
    display: none;
  }
}

/*** Footer ***/
.footer {
  background: url(../img/footer.png) center center no-repeat;
  background-size: contain;
}


.footer .btn.btn-social {
  margin-right: 5px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255,255,255,.5);
  border: 1px solid rgba(256, 256, 256, .1);
  border-radius: 40px;
  transition: .3s;
}

.footer .btn.btn-social:hover {
  color: #333333;
}

.footer .btn.btn-link {
  display: block;
  margin-bottom: 10px;
  padding: 0;
  text-align: left;
  color: rgba(255,255,255,.5);
  font-weight: normal;
  transition: .3s;
}

.footer .btn.btn-link:hover {
  color: #cca000;
}

.footer .btn.btn-link::before {
  position: relative;
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px;
}

.footer .btn.btn-link:hover {
  letter-spacing: 1px;
  box-shadow: none;
}

.footer .copyright {
  padding: 25px 0;
  font-size: 14px;
  border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
  color: rgba(255,255,255,.5);
}

.footer .copyright a:hover {
  color: #FFFFFF;
}

.footer .footer-menu a {
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}

.bg-about {
  background: url(../img/about/about_header.webp);
  background-size: cover;
}
.bg-services {
  background: url(../img/services/services_header.webp);
  background-size: cover;
}
.bg-request {
  background: url(../img/request/request_header.webp);
  background-size: cover;
}
.bg-contact {
  background: url(../img/contact/contact_header.webp);
  background-size: cover;
}

.service-card {
  position: relative;

}
.image-container {
  height: 230px;
  overflow: hidden;
}

.service-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: filter 0.3s ease;
}

.service-content {
  background-color: rgba(0, 0, 0, 0.7); 
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  color: #fff;
  text-align: center;
  transition: background-color 0.3s ease;
}

.service-content p {
  margin-bottom: 0;
}

.grayscale {
  filter: grayscale(100%);
}

.service-card:hover .grayscale {
  filter: grayscale(0%);
}

.service-card:hover .service-content {
  background-color: rgba(0, 0, 0, 0);
  color: #333333;
}

  .owl-stage-outer {
      padding-bottom: 20px;
  }