/* .carousel-control-prev-icon::before {

} */

.carousel-inner {
    height: calc(100vh - 100px); 
  }
.caption-left-center {
  position: absolute;
  left: 15%;
  top: 20%;
  font-size: 1.5rem;
  text-align: left;
}

.caption-left-center p {
  margin-bottom: 10px;
  cursor: default;

}
.caption-left-center h1 {
  margin-bottom: 5px;
  color: #0092ca;
  font-size: 4rem;
  cursor: default;

}

.caption-left-center a {
  display: inline; 
  margin-top: 10px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); 
}