/* .carousel-control-prev-icon::before {

} */
.carousel-indicators {
position: absolute;
bottom: 0;
right: 0;
left: auto;
width: auto;
margin-right: 15%;
margin-left: 0;
}

.carousel-indicators button {
background-color: transparent;
border: 2px solid white;
height: 100px;
}

.carousel-indicators .active {
background-color: white;
}
