.img-border {
    position: relative;
    height: 100%;
    min-height: 400px;
}

.img-border::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 3rem;
    bottom: 3rem;
    border: 5px solid #0092ca;
    border-radius: 6px;
}

.img-border img {
    position: absolute;
    top: 3rem;
    left: 3rem;
    width: calc(100% - 3rem);
    height: calc(100% - 3rem);
    object-fit: cover;
    border-radius: 6px;
}
.img-border-right {
    position: relative;
    height: 100%;
    /* min-width: 400px; */
    min-height: 400px;
}

.img-border-right::before {
    position: absolute;
    content: "";
    top: 0;
    left: 3rem;
    right: 0;
    bottom: 3rem;
    border: 5px solid #0092ca;
    border-radius: 6px;
}

.img-border-right img {
    position: absolute;
    top: 3rem;
    left: 0;
    width: calc(100% - 3rem);
    height: calc(100% - 3rem);
    object-fit: cover;
    border-radius: 6px;
}



.testimonial-carousel {
    position: relative;
}

.testimonial-carousel .owl-nav {
    position: absolute;
    width: 40px;
    height: 100%;
    top: calc(50% - 50px);
    right:-20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
    margin: 5px 0 !important;
    width: 40px !important;
    height: 40px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    color: #0092ca !important;
    background: #FFFFFF !important;
    border: 1px solid #0092ca !important;
    border-radius: 40px !important;
    font-size: 18px !important;
    transition: .5s !important;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
    background: #0092ca !important;
    color: #FFFFFF !important;
}

.testimonial-carousel .owl-dots {
    margin-top: 35px !important;
    margin-left: 3rem !important;
}

.testimonial-carousel .owl-dot {
    position: relative !important;
    display: inline-block !important;
    margin-right: 10px !important;
    width: 15px !important;
    height: 15px !important;
    background: #FFFFFF !important;
    border: 1px solid #0092ca !important;
    border-radius: 15px !important;
    transition: .5s !important;
}

.testimonial-carousel .owl-dot.active {
    width: 30px !important;
    background: #0092ca !important;
}

@media (max-width: 767px) {
    .owl-prev, .owl-next {
  display: none !important;
    }
    
}